{% extends "layout.html" %}

{% block title %}Frontend Production opened issues timeline{% endblock %}

{% block body %}
	
	<div class="paxl">
		
		{% include 'nav.html' with {'nav': '/last/month'} %}
		
		<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
	</div>

	<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/stock/highstock.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>

	<script>

		var dates = [
			{% for snap in snaps %}[new Date("{{snap.created_on}}").getTime(), {{snap.count}}]{% if !loop.last %},
			{% endif %}{% endfor %}
		];

		$(function () {
    			var chart;
    			$(document).ready(function() {
        			chart = new Highcharts.StockChart({
            				chart: {
                				renderTo: 'container',
                				type: 'spline'
            				},
					title : {
						text : 'Frontenders opened issues on production'
					},
	    				xAxis: {
                				type: 'datetime'
            				},
					yAxis : {
						title : {
							text : 'Number of issues'
						}
					},
            				series: [{
						name:  'All issues count',
						step: true,
                				data:  dates
            				}]
        			});
    			});   
		});

	</script>
	
{% endblock %}
